In [1]:
def pig_latin(word):
    first_letter=word[0]
    if first_letter in 'aeiou':
        return word+'ay'
    else:
        return word[1:]+ word[0]+'ay'

In [3]:
pig_latin('bpple')

'pplebay'

# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [2]:
def lesser_of_two_even(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    elif a%2==0 or a%2==0:
        if b>a:
            return b
        else:
            return a
result=lesser_of_two_even(2,5)
result

5

# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [7]:
def animal_crackers(text):
    wordlist=text.split()
    print(wordlist)
    first=wordlist[0]
    second=wordlist[1]
    if first[0]==second[0]:
        return True
    else:
        return False
#animal_crackers('Levelheaded Llama')
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

ANOTHER METHOD

In [10]:
def animal_crackers(text):
    wordlist=text.lower().split()
    return wordlist[0][0]==wordlist[0][1]
#animal_crackers('Levelheaded Llama')
animal_crackers('Crazy Kangaroo')

False

# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [14]:
def twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2==20:
        return True
    else:
        return False
twenty(20,10)
#twenty(12,8)
#twenty(6,6)

True

# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [21]:
def old_macdonald(name):
    first=name[0]
    inbetween=name[1:3]
    fourth=name[3]
    rest=name[4:]
    return first.upper()+inbetween+fourth.upper()+rest
old_macdonald('sameekshya')

'SamEekshya'

ANOTHER METHOD

In [22]:
def old_macdonald(name):
    first_half=name[:3]
    second_half=name[3:]
    return first_half.capitalize()+second_half.capitalize()
old_macdonald('nisith')

'NisIth'

# MASTER YODA: Given a sentence, return a sentence with the words reversed

In [27]:
def master_yoda(text):
    wordlist=text.split()
    reverse_list=wordlist[::-1]
    return ' '.join(reverse_list)
master_yoda('I am Sam')

'Sam am I'

# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [35]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)
almost_there(270)

False

# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [54]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False
has_33([1, 3, 3])

True

# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [56]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result
paper_doll('sameekshya')

'sssaaammmeeeeeekkkssshhhyyyaaa'

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST

In [71]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c))>31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

blackjack(5,6,7)

18

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [74]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total
summer_69([1, 3, 5])
summer_69([4, 5, 6, 7, 8, 9])
#summer_69([2, 1, 6, 9, 11])

9

# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [85]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1
spy_game([1,2,4,0,0,7,5])
spy_game([1,7,2,0,4,5,0])

False

# COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [91]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [90]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

(1, 2, 3, 4, 1, 2, 3, 4)